html
   head
      title File Upload System
      link(rel="styleSheet" href="/libs/bootstrap.css")
   body(ng-app="app")
      .jumbotron
         h1 Welcome to File Upload System

   div(ng-view)

   footer.text-center &copy; File Upload System 2014

   script(type="text/javascript" src="/libs/jquery.js")
   script(type="text/javascript" src="/libs/bootstrap.js")
   script(type="text/javascript" src="/libs/angular.js")
   script(type="text/javascript" src="/libs/angular-route.js")
   script(type="text/javascript" src="/app/app.js")